
@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');
@import url(https://fonts.googleapis.com/css?family=Montserrat:200&display=swap);

font * {
    color: white;
}

.nav {
    display: flex;
    vertical-align: top;
    justify-content: flex-end;
    justify-content: space-around 5%;
    background: black;
    color: white;
    font-family: Oswald;

}

h2 {
    color: white;
    font-family: Montserrat;
    justify-content: center;
    padding: 7%;
    font-size: 2em;
    

}

.itemId {
    height: 100px;
    margin: 20px;
    flex-wrap: wrap;
    
}

.itemId:hover {
    color: white;
    border: 1px solid black;
    
}


body {
    background: black;
    color: white;
    
}

header {
    justify-content: space-between;
    background: black;
    color: white;
    padding: 40px;
    font-size: 2em;
}
header nav a {
    color: white;
    border: 1px solid white;
    transition: color 200ms ease-in;
}

header:hover {
    color: white;
    border: 1px solid white;
}



.hidden {
    display: none;
}

h1 {
    font-family: 'Oswald';
    display: flex;
    justify-content: center;
    -moz-box-align: center;
}

.shirtImg {
    max-width: 200px;
    max-height: auto;
    flex: wrap;
}

.hero {
    max-height: 10px;
    margin: 10px;    
}

#headerImg {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2em;
}


h1 {
align-items: center;
}


/* //////////////////////////////////////////////////// */



.side-bar {
    background: white;
}

.ma {
    background: white;
}